html {
  height: 100%;
}
#root {
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(45,175,253,0.23573179271708689) 0%, rgba(0,30,54,0.835171568627451) 100%);
}

section {
  max-width: 800px;
  border-radius: 1rem;
}